---
layout: default
---

<style>
/* make sidebar nav vertical */
@media (min-width: 768px) {
  .side-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    max-height: none;
    border: 1px solid #DDD;
  }
}
</style>

<div class="full-page-container">
  <div class="row">
    <div class="col-sm-8">
      {{ content }}
    </div>
    <div class="col-sm-4">
      <ul class="side-menu">
        <li><a href="{{ site.url }}/documentation/ko{{ page.url | replace_first:'/documentation','' | replace_first:'/ko','' }}">한국어</a></li>
        <li><a href="{{ site.url }}/documentation{{ page.url | replace_first:'/documentation','' }}">English</a></li>
      </ul>

      <ul class="side-menu">
      {% if page.lang %}
        <li><a href="{{ site.url }}/documentation/{{ page.lang }}/observable.html">Observable</a></li>
        <li><a href="{{ site.url }}/documentation/{{ page.lang }}/operators.html">Operators</a></li>
        <li><a href="{{ site.url }}/documentation/{{ page.lang }}/single.html">Single</a></li>
        <li><a href="{{ site.url }}/documentation/{{ page.lang }}/subject.html">Subject</a></li>
        <li><a href="{{ site.url }}/documentation/{{ page.lang }}/scheduler.html">Scheduler</a></li>
      {% else %}  
        <li><a href="{{ site.url }}/documentation/observable.html">Observable</a></li>
        <li><a href="{{ site.url }}/documentation/operators.html">Operators</a></li>
        <li><a href="{{ site.url }}/documentation/single.html">Single</a></li>
        <li><a href="{{ site.url }}/documentation/subject.html">Subject</a></li>
        <li><a href="{{ site.url }}/documentation/scheduler.html">Scheduler</a></li>
      {% endif %}  
      </ul>
    </div>
  </div>
</div>
