
.jumbotron {
  background-image: url("/assets/diagmonds.png");
  background-attachment: fixed;
  perspective: 1rem;
  min-height: ~"calc(100vh - 50px)"; // 50px is @navbar-height
  color: @gray-lighter;
  position: relative;
  h1.title {
    font-family: @reactivex-font-special;
    img {
      width: 80px;
      height: 80px;
      margin-top: -10px;
      margin-right: @margin-base;
    }
    margin-bottom: @margin-extra-large;
  }
  h2.value-proposition {
    line-height: 1.3em;
    margin-bottom: @margin-extra-large;
  }
}
.scroll-down-indicator {
  position: absolute;
  font-size: 2rem;
  top: 90vh;
  left: calc(50vw - 1rem);
  color: rgba(255,255,255,0.5);
}

.btn-special {
  // border: 2px solid white;
  background-color: @reactivex-pinkle;
  color: white;
  &:hover {
    background-color: darken(@reactivex-pinkle, 5%);
    color: white;
  }
}

.frontpage-content {
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
  h4 {
    line-height: 1.6rem;
  }
}

.em-color1 {
  color: @reactivex-pink;
}

.em-color2 {
  color: @reactivex-pinkle;
}

.em-color3 {
  color: @reactivex-purple;
}

@stream-item-size: 14px;
@stream-arrow-thickness: 2px;

.mixin-animation(@name; @duration; @easing; @delay) {
  -webkit-animation: @name @duration @easing @delay;
     -moz-animation: @name @duration @easing @delay;
       -o-animation: @name @duration @easing @delay;
          animation: @name @duration @easing @delay;
}

.diagram {
  margin: @margin-huge auto;
  width: 80%;
  .stream {
    position: relative;
    height: 3*@stream-item-size;
    overflow: hidden;
    * {
      position: absolute;
    }
    .stream-arrow {
      height: @stream-arrow-thickness;
      background-color: @gray-darker;
      top: (1.5*@stream-item-size - @stream-arrow-thickness / 2);
      width: 100%;
    }
    .diagram-stream-item {
      width: @stream-item-size;
      height: @stream-item-size;
      border-radius: @stream-item-size;
      top: @stream-item-size;
      margin-left: (-@stream-item-size / 2);
    }
    .diagram-stream-blip {
      width: @stream-item-size;
      height: @stream-item-size;
      border-radius: @stream-item-size;
      top: (1.5*@stream-item-size);
      opacity: 0;
    }
    .stream-end {
      background-color: @gray-darker;
      top: @stream-item-size;
      width: @stream-arrow-thickness;
      height: @stream-item-size;
      left: 96%;
    }
    .stream-arrow-head1 {
      background-color: @gray-darker;
      top: 0.86*@stream-item-size;
      width: @stream-arrow-thickness;
      height: @stream-item-size;
      left: 99%;
      transform: rotate(-0.2turn);
    }
    .stream-arrow-head2 {
      background-color: @gray-darker;
      top: 1.15*@stream-item-size;
      width: @stream-arrow-thickness;
      height: @stream-item-size;
      left: 99%;
      transform: rotate(0.2turn);
    }
    .diagram-scheduler {
      width: 2*@stream-item-size;
      height: 2*@stream-arrow-thickness;
      top: (1.5*@stream-item-size - @stream-arrow-thickness);
      margin-left: -2*@stream-item-size;
      background: linear-gradient(to right, rgba(0,0,0,0), @reactivex-pink) repeat scroll 0% 0% transparent;
      .mixin-animation(scheduler, 1000ms, linear, 0ms);
    }
  }

  // Items
  .input-stream-item1 {
    background-color: @reactivex-purple;
    left: 15%;
  }
  .input-stream-item2 {
    background-color: @reactivex-blue;
    left: 47%;
  }
  .input-stream-item3 {
    background-color: @reactivex-grass;
    left: 55%;
  }
  .input-stream-item4 {
    background-color: @reactivex-green;
    left: 60%;
  }
  // Blips
  .input-stream-blip1 {
    background-color: @reactivex-purple;
    left: 15%;
    .mixin-animation(blip, 600ms, ease-out, 150ms);
  }
  .input-stream-blip2 {
    background-color: @reactivex-blue;
    left: 47%;
    .mixin-animation(blip, 600ms, ease-out, 470ms);
  }
  .input-stream-blip3 {
    background-color: @reactivex-grass;
    left: 55%;
    .mixin-animation(blip, 600ms, ease-out, 550ms);
  }
  .input-stream-blip4 {
    background-color: @reactivex-green;
    left: 60%;
    .mixin-animation(blip, 600ms, ease-out, 600ms);
  }
  // Mappers
  .input-mapper1  { left: 15%; }
  .input-mapper2  { left: 47%; }
  .input-mapper3  { left: 55%; }
  .input-mapper4  { left: 60%; }
  .output-mapper1 { left: 35%; }
  .output-mapper4 { left: 80%; }

  // Items
  .output-stream-item1 {
    background-color: @reactivex-purple;
    left: 35%;
  }
  .output-stream-item4 {
    background-color: @reactivex-green;
    left: 80%;
  }
  // Blips
  .output-stream-blip1 {
    background-color: @reactivex-purple;
    left: 35%;
    .mixin-animation(blip, 600ms, ease-out, 350ms);
  }
  .output-stream-blip4 {
    background-color: @reactivex-green;
    left: 80%;
    .mixin-animation(blip, 600ms, ease-out, 800ms);
  }

  @diagram-operator-height: 3*@stream-item-size;
  @diagram-mapper-height: 3.5*@stream-item-size;
  .operator {
    height:  @diagram-operator-height;
    width: 100%;
    text-align: center;
    font-family: @reactivex-font-special;
    font-size: 1.4rem;
    border: 1px solid @gray-light;
    line-height:  @diagram-operator-height;
    margin-top: 2.5*@stream-item-size;
    margin-bottom: 2.5*@stream-item-size;
    position: relative;
    overflow: visible;
    * {
      position: absolute;
    }
    .input-stream-mapper {
      width: 1px;
      height: @diagram-mapper-height;
      border-left: 1px dashed @gray-light;
      top: -@diagram-mapper-height;
      margin-left: -0.5px;
    }
    .input-stream-mapper-head1 {
      width: @stream-item-size;
      height: 1px;
      top: 0;
      margin-top: round(-0.57*@stream-item-size);
      margin-left: round(-0.28*@stream-item-size) - 0.5px;
      background-color: @gray-light;
      transform: rotate(-0.2turn);
    }
    .input-stream-mapper-head2 {
      width: @stream-item-size;
      height: 1px;
      top: 0;
      margin-top: round(-0.57*@stream-item-size);
      margin-left: round(-0.57*@stream-item-size) - 1.5px;
      background-color: @gray-light;
      transform: rotate(0.2turn);
    }
    .output-stream-mapper {
      width: 1px;
      height: @diagram-mapper-height;
      border-left: 1px dashed @gray-light;
      top: @diagram-operator-height;
    }
    .output-stream-mapper-head1 {
      width: @stream-item-size;
      height: 1px;
      top: @diagram-mapper-height + @diagram-operator-height;
      margin-top: round(-0.57*@stream-item-size);
      margin-left: round(-0.28*@stream-item-size) - 0.5px;
      background-color: @gray-light;
      transform: rotate(-0.2turn);
    }
    .output-stream-mapper-head2 {
      width: @stream-item-size;
      height: 1px;
      top: @diagram-mapper-height + @diagram-operator-height;
      margin-top: round(-0.57*@stream-item-size);
      margin-left: round(-0.57*@stream-item-size) - 1.5px;
      background-color: @gray-light;
      transform: rotate(0.2turn);
    }
  }
}

@keyframes scheduler {
  from { left: 0%; }
  to { left: 100%; }
}

@-o-keyframes scheduler {
  from { left: 0%; }
  to { left: 100%; }
}

@-moz-keyframes scheduler {
  from { left: 0%; }
  to { left: 100%; }
}

@-webkit-keyframes scheduler {
  from { left: 0%; }
  to { left: 100%; }
}

@keyframes blip {
  from {
    width: @stream-item-size;
    height: @stream-item-size;
    border-radius: @stream-item-size;
    margin-top: (-@stream-item-size / 2);
    margin-left: (-@stream-item-size / 2);
    opacity: 1;
  }
  to {
    width: 3*@stream-item-size;
    height: 3*@stream-item-size;
    border-radius: 3*@stream-item-size;
    margin-top: (-@stream-item-size*3 / 2);
    margin-left: (-@stream-item-size*3 / 2);
    opacity: 0;
  }
}

@-o-keyframes blip {
  from {
    width: @stream-item-size;
    height: @stream-item-size;
    border-radius: @stream-item-size;
    margin-top: (-@stream-item-size / 2);
    margin-left: (-@stream-item-size / 2);
    opacity: 1;
  }
  to {
    width: 3*@stream-item-size;
    height: 3*@stream-item-size;
    border-radius: 3*@stream-item-size;
    margin-top: (-@stream-item-size*3 / 2);
    margin-left: (-@stream-item-size*3 / 2);
    opacity: 0;
  }
}

@-moz-keyframes blip {
  from {
    width: @stream-item-size;
    height: @stream-item-size;
    border-radius: @stream-item-size;
    margin-top: (-@stream-item-size / 2);
    margin-left: (-@stream-item-size / 2);
    opacity: 1;
  }
  to {
    width: 3*@stream-item-size;
    height: 3*@stream-item-size;
    border-radius: 3*@stream-item-size;
    margin-top: (-@stream-item-size*3 / 2);
    margin-left: (-@stream-item-size*3 / 2);
    opacity: 0;
  }
}

@-webkit-keyframes blip {
  from {
    width: @stream-item-size;
    height: @stream-item-size;
    border-radius: @stream-item-size;
    margin-top: (-@stream-item-size / 2);
    margin-left: (-@stream-item-size / 2);
    opacity: 1;
  }
  to {
    width: 3*@stream-item-size;
    height: 3*@stream-item-size;
    border-radius: 3*@stream-item-size;
    margin-top: (-@stream-item-size*3 / 2);
    margin-left: (-@stream-item-size*3 / 2);
    opacity: 0;
  }
}

.frontpage-feature {
  padding: @margin-base;
  text-align: center;
  margin-bottom: @margin-base;
  h2 {
    font-family: @reactivex-font-special;
    margin-top: 0;
    margin-bottom: @margin-base;
    img {
      width: 32px;
      height: 32px;
      margin-top: -7px;
      margin-right: @margin-small;
    }
  }
}

.ps-top-to-bottom {
  position: relative;
  border-top: 1px solid @gray-light;
}

.ps-top-to-bottom:before,
.ps-top-to-bottom:after {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@gray-light), to(transparent));
  background-image: -webkit-linear-gradient(@gray-light, transparent);
  background-image: -moz-linear-gradient(@gray-light, transparent);
  background-image: -o-linear-gradient(@gray-light, transparent);
  background-image: linear-gradient(@gray-light, transparent);
  top: -1px;
  bottom: -1px;
  width: 1px;
}

.ps-top-to-bottom:before {
  left: -1px;
}

.ps-top-to-bottom:after {
  right: -1px;
}
